.gameboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
}

.message {
    height: 50px;
    background-color: white;
    text-align: center;
    font-size: 30px;
}

h1{
    text-align: center;
    font-size: 120px;
}

.game-count {
    font-size: 40px;
}

.game-tries {
    font-size: 40px;
}

img{
    height: 300px;
    width: 190px;
    padding: 20px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
   
}

.flip {
    transform: rotateY(180deg);
  }

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }